<div class="flex items-center justify-center">
  <h2 class="font-bold text-2xl mt-6">Lista de Usuarios</h2>
</div>
<div class="flex items-center justify-center">
<div class="overflow-x-auto mt-10 mb-[5em]" *ngIf="users.length > 0; else noUsers">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Usuario</th>
        <th>Correo Electronico</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr *ngFor="let user of users">
        <th>{{ user.name }}</th>
        <td>{{ user.lastName }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles }}</td>
        <button class="btn btn-outline mr-4" (click)="editUser(user)">Editar</button>
        <button class="btn btn-outline" (click)="deleteUser(user._id)">Borrar</button>
      </tr>
    </tbody>
  </table>
</div>
</div>

<ng-template #noUsers>
  <p>No hay usuarios disponibles.</p>
</ng-template>

<!-- Modal de edición de usuario -->
<div *ngIf="editingUser" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <!-- Modal -->
  <div class="glass p-8 w-96 rounded-lg shadow-lg">
    <!-- Contenido del modal -->
    <h2 class="text-xl font-bold mb-4 text-center">Editar Usuario</h2>
    <label class="block mb-2">Nombre:</label>
    <input [(ngModel)]="editingUser.name" name="name" class="input input-bordered input-primary w-full max-w-xs">
    <label class="block mb-2">Apellido:</label>
    <input [(ngModel)]="editingUser.lastName" name="lastName" class="input input-bordered input-primary w-full max-w-xs">
    <label class="block mb-2">Nombre de Usuario:</label>
    <input [(ngModel)]="editingUser.userName" name="userName" class="input input-bordered input-primary w-full max-w-xs">
    <label class="block mb-2">Correo Electrónico:</label>
    <input [(ngModel)]="editingUser.email" name="email" class="input input-bordered input-primary w-full max-w-xs">
    <!-- Botón para guardar cambios -->
    <div class="flex justify-center gap-6 mt-6">
    <button (click)="closeModal()" class="btn btn-primary">Cerrar</button>
    <button class="btn btn-primary" (click)="saveChanges()">Guardar Cambios</button>
  </div>
  </div>
</div>


